@if (endpoint) {
  <div fxLayout="column" fxFlex fxLayoutGap="24px">
    <app-config-ownership-notice kind="WebhookEndpoint" [resourceId]="endpoint.id" />
    <!-- Header -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Webhook Endpoint</h2>
      <div>
        <button mat-icon-button [routerLink]="['../']" matTooltip="Back to list">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="['edit']"
          matTooltip="Edit webhook endpoint"
          appConfigManaged
          managedKind="WebhookEndpoint"
          [managedResourceId]="endpoint.id"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Download configuration" (click)="downloadConfig()">
          <mat-icon>download</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteEndpoint()"
          matTooltip="Delete webhook endpoint"
          color="warn"
          appConfigManaged
          managedKind="WebhookEndpoint"
          [managedResourceId]="endpoint.id"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <!-- Details Card -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>webhook</mat-icon>
          Endpoint Details
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="config-list">
          <mat-list-item>
            <mat-icon matListItemIcon>fingerprint</mat-icon>
            <span matListItemTitle>ID</span>
            <span matListItemLine>{{ endpoint.id }}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>label</mat-icon>
            <span matListItemTitle>Name</span>
            <span matListItemLine>{{ endpoint.name }}</span>
          </mat-list-item>
          @if (endpoint.description) {
            <mat-list-item>
              <mat-icon matListItemIcon>description</mat-icon>
              <span matListItemTitle>Description</span>
              <span matListItemLine>{{ endpoint.description }}</span>
            </mat-list-item>
          }
          <mat-list-item>
            <mat-icon matListItemIcon>link</mat-icon>
            <span matListItemTitle>URL</span>
            <span matListItemLine>{{ endpoint.url }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- Authentication Card -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>security</mat-icon>
          Authentication
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="config-list">
          <mat-list-item>
            <mat-icon matListItemIcon>vpn_key</mat-icon>
            <span matListItemTitle>Type</span>
            <span matListItemLine>{{ getAuthType() }}</span>
          </mat-list-item>
          @if (getAuthHeaderName()) {
            <mat-list-item>
              <mat-icon matListItemIcon>code</mat-icon>
              <span matListItemTitle>Header Name</span>
              <span matListItemLine>{{ getAuthHeaderName() }}</span>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
}
