<div fxLayout="row" fxLayoutGap="16px">
  <mat-form-field fxFlex>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [formControl]="field"
      [required]="required"
      placeholder="Image URL"
      [attr.aria-label]="label"
      title="Image URL"
    />
    <button
      matIconButton
      matSuffix
      type="button"
      (click)="triggerLogoFileInput()"
      matTooltip="Upload Logo"
    >
      <mat-icon>upload</mat-icon>
    </button>
  </mat-form-field>
  <input
    #logoFileInput
    type="file"
    accept="image/*"
    class="hidden-file-input"
    aria-label="Upload logo image"
    title="Upload logo image"
    (change)="uploadLogoFile($event)"
  />
  <div fxLayout="row" fxFlex fxLayoutAlign="center center">
    @if (shouldRenderPreview) {
      <img
        [src]="field.value"
        alt="Logo Preview"
        loading="lazy"
        decoding="async"
        class="image-preview"
      />
    }
  </div>
</div>
