<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>Attribute Providers</h2>
  <button matIconButton [routerLink]="['create']" matTooltip="Create New Attribute Provider">
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="providers" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let provider">{{ provider.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let provider">{{ provider.name }}</td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td mat-cell *matCellDef="let provider">{{ provider.url }}</td>
  </ng-container>

  <ng-container matColumnDef="auth">
    <th mat-header-cell *matHeaderCellDef>Auth</th>
    <td mat-cell *matCellDef="let provider">{{ getAuthType(provider) }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let provider">
      <button matIconButton [routerLink]="[provider.id]">
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        matIconButton
        [routerLink]="[provider.id, 'edit']"
        appConfigManaged
        managedKind="AttributeProvider"
        [managedResourceId]="provider.id"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
