<div class="key-list-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <h2>Key Management</h2>
    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-stroked-button [routerLink]="['providers']">
        <mat-icon>dns</mat-icon>
        Providers
      </button>
      @if (usageGroups.length > 0) {
        <button mat-icon-button (click)="collapseAll()" matTooltip="Collapse all">
          <mat-icon>unfold_less</mat-icon>
        </button>
      }
      <button mat-flat-button color="primary" [routerLink]="['create']">
        <mat-icon>add</mat-icon>
        Create Key
      </button>
    </div>
  </div>

  @if (usageGroups.length === 0) {
    <div class="empty-state" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon class="empty-icon">vpn_key</mat-icon>
      <h3>No keys configured</h3>
      <p>Create your first key to get started with credential issuance.</p>
      <button mat-flat-button color="primary" [routerLink]="['create']">
        <mat-icon>add</mat-icon>
        Create Key
      </button>
    </div>
  } @else {
    <mat-accordion multi>
      @for (group of usageGroups; track group.usage) {
        <mat-expansion-panel
          [expanded]="group.expanded"
          (opened)="group.expanded = true"
          (closed)="group.expanded = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
              <mat-icon>{{ group.icon }}</mat-icon>
              <span>{{ group.label }}</span>
              <span class="key-count">{{ group.items.length }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p class="group-description">{{ group.description }}</p>

          <div class="key-chains">
            @for (item of group.items; track item.id) {
              <div
                class="key-item"
                [class.has-root-ca]="item.hasRootCa"
                fxLayout="row"
                fxLayoutAlign="space-between center"
              >
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                  <div class="key-type-indicator" [ngClass]="item.type">
                    <mat-icon>{{ getTypeIcon(item) }}</mat-icon>
                  </div>
                  <div fxLayout="column">
                    <span class="key-name">{{ getDisplayName(item) }}</span>
                    <span class="key-meta">
                      <mat-chip>{{ getTypeLabel(item) }}</mat-chip>
                      @if (item.hasRootCa) {
                        <mat-chip class="ca-chip">Internal CA</mat-chip>
                      }
                      @if (item.rotationEnabled) {
                        <span class="rotation-info">
                          <mat-icon class="rotation-icon">autorenew</mat-icon>
                          Rotation enabled
                        </span>
                      }
                      <span class="key-id">{{ item.id }}</span>
                    </span>
                  </div>
                </div>
                <div class="key-actions" fxLayout="row" fxLayoutGap="4px">
                  <button
                    mat-icon-button
                    [routerLink]="getViewRoute(item)"
                    matTooltip="View details"
                  >
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button [routerLink]="[item.id, 'edit']" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                  @if (item.rotationEnabled) {
                    <button
                      mat-icon-button
                      (click)="rotateItem(item, $event)"
                      matTooltip="Rotate key now"
                    >
                      <mat-icon>refresh</mat-icon>
                    </button>
                  }
                  <button
                    mat-icon-button
                    (click)="deleteItem(item, $event)"
                    matTooltip="Delete"
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            }
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
</div>
