<div class="key-list-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <h2>Key Management</h2>
    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-icon-button [routerLink]="['/kms']" matTooltip="KMS Providers">
        <mat-icon>dns</mat-icon>
      </button>
      <button mat-icon-button color="primary" [routerLink]="['create']" matTooltip="Create Key">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="filters" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Usage</mat-label>
      <mat-select [(value)]="selectedUsageType" (selectionChange)="onFilterChange()">
        <mat-option value="">All usages</mat-option>
        <mat-option value="attestation">Credential Signing</mat-option>
        <mat-option value="access">Access Certificate</mat-option>
        <mat-option value="statusList">Status List</mat-option>
        <mat-option value="trustList">Trust List</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Key Type</mat-label>
      <mat-select [(value)]="selectedKeyType" (selectionChange)="onFilterChange()">
        <mat-option value="">All types</mat-option>
        <mat-option value="internalChain">Internal Chain</mat-option>
        <mat-option value="standalone">Standalone</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>KMS Provider</mat-label>
      <mat-select [(value)]="selectedKmsProvider" (selectionChange)="onFilterChange()">
        <mat-option value="">All providers</mat-option>
        @for (provider of availableKmsProviders; track provider) {
          <mat-option [value]="provider">{{ provider }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="clearFilters()" matTooltip="Clear filters">
      <mat-icon>filter_alt_off</mat-icon>
    </button>
  </div>

  @if (displayItems.length === 0) {
    <div class="empty-state" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon class="empty-icon">vpn_key</mat-icon>
      <h3>No keys configured</h3>
      <p>Create your first key to get started with credential issuance.</p>
      <button mat-flat-button color="primary" [routerLink]="['create']">
        <mat-icon>add</mat-icon>
        Create Key
      </button>
    </div>
  } @else if (filteredItems.length === 0) {
    <div class="empty-state" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon class="empty-icon">filter_alt</mat-icon>
      <h3>No matching keys</h3>
      <p>Try adjusting or clearing the current filters.</p>
      <button mat-stroked-button (click)="clearFilters()">
        <mat-icon>filter_alt_off</mat-icon>
        Clear Filters
      </button>
    </div>
  } @else {
    <div class="table-container">
      <table mat-table [dataSource]="filteredItems" class="keys-table mat-elevation-z8">
        <ng-container matColumnDef="usage">
          <th mat-header-cell *matHeaderCellDef>Usage</th>
          <td mat-cell *matCellDef="let item">
            <span>{{ getUsageLabel(item) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let item">
            <span class="key-name">{{ getDisplayName(item) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let item">
            <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center" class="type-meta">
              <mat-chip>{{ getTypeLabel(item) }}</mat-chip>
              @if (item.hasRootCa) {
                <mat-chip class="ca-chip">Internal CA</mat-chip>
              }
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="kmsProvider">
          <th mat-header-cell *matHeaderCellDef>KMS</th>
          <td mat-cell *matCellDef="let item">
            <mat-chip>{{ item.kmsProvider }}</mat-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="rotation">
          <th mat-header-cell *matHeaderCellDef>Rotation</th>
          <td mat-cell *matCellDef="let item">
            @if (item.rotationEnabled) {
              <span
                class="rotation-enabled"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="4px"
              >
                <mat-icon>autorenew</mat-icon>
                Enabled
              </span>
            } @else {
              <span class="rotation-disabled">Disabled</span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let item">
            <span class="key-id">{{ item.id }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let item">
            <div class="key-actions" fxLayout="row" fxLayoutGap="4px">
              <button mat-icon-button [routerLink]="getViewRoute(item)" matTooltip="View details">
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                [routerLink]="[item.id, 'edit']"
                matTooltip="Edit"
                appConfigManaged
                managedKind="KeyChain"
                [managedResourceId]="item.id"
              >
                <mat-icon>edit</mat-icon>
              </button>
              @if (item.rotationEnabled) {
                <button
                  mat-icon-button
                  (click)="rotateItem(item, $event)"
                  matTooltip="Rotate key now"
                  appConfigManaged
                  managedKind="KeyChain"
                  [managedResourceId]="item.id"
                >
                  <mat-icon>refresh</mat-icon>
                </button>
              }
              <button
                mat-icon-button
                (click)="deleteItem(item, $event)"
                matTooltip="Delete"
                color="warn"
                appConfigManaged
                managedKind="KeyChain"
                [managedResourceId]="item.id"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  }
</div>
