<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>Users</h2>
  <button
    matIconButton
    [routerLink]="['create']"
    matTooltip="Create New User"
    [disabled]="isUnavailable"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</div>

@if (!loading) {
  @if (isUnavailable) {
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon color="warn">info</mat-icon>
            <strong>User management is unavailable</strong>
          </div>
          <p>{{ unavailableMessage }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  } @else {
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let user">
          <mat-chip-set>
            @for (role of user.roles; track role) {
              <span>
                <mat-chip>{{ role }}</mat-chip>
              </span>
            }
          </mat-chip-set>
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let user">{{ user.enabled ? 'Enabled' : 'Disabled' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button matIconButton [routerLink]="[user.id]" matTooltip="View User Details">
            <mat-icon>visibility</mat-icon>
          </button>
          <button matIconButton [routerLink]="[user.id, 'edit']" matTooltip="Edit User">
            <mat-icon>edit</mat-icon>
          </button>
          <button matIconButton (click)="deleteUser(user)" matTooltip="Delete User">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  }
}
